header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #121212;
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  background: #121212;
  color: #fff;
}

.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 50px;
}

.logo {
  width: 50px;
  height: auto;
}

.header-icons {
  display: flex;
  gap: 30px;
}

.About {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.image-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%; /* controle do tamanho do gradiente */
  height: 100%;
  background: linear-gradient(to left, #121212, transparent);
}

